* {
    margin: 0;
    padding: 0;
}

.sky {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #00ccff;
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
}

.clouds {
    width: 300px;
    background-image: url(clouds.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.clouds {
    width: 300px;
    background-image: url(clouds.png);
    background-repeat: no-repeat;
    background-size: contain;
}


.airplane {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
